# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

.assets/** linguist-vendored

/** export-ignore
/addons/ !export-ignore
/addons/simple_tool_button/ !export-ignore
/addons/simple_tool_button/** !export-ignore
